<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Want to know more about me?</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                  <img class="img-about" src="img/Profil200.jpg" alt="">
                </div>
            </div>    
            <div class="row">    
                <div class="col-lg-12 text-center">
                    <p style= "text-align: left">I am a research assistant at the <a href="https://www.dhpol.de/microsite/englische-website/units/unit-2/unit-ii.5.php">Department of Communication Science</a> at the <a href="https://www.dhpol.de/microsite/englische-website/university/index.php">German Police University</a>, located in beautiful <a href="https://en.wikipedia.org/wiki/M%C3%BCnster">Münster</a> in North-Western Germany, and also a doctoral candidate in media psychology at the <a href="https://portal.uni-koeln.de/en/sub/uoc-home">University of Cologne</a>.</p>
                    <p style= "text-align: left">My interests include (de)radicalization on the internet, media literacy, automated discourse and emotion analysis, and the effects of narrative media.</p>
                    <p style= "text-align: left">In order to be able to properly operate at the academic intersection of hard and soft sciences and to add proficient skills in machine learning and natural language processing (NLP) to my social science background, I am currently completing the Artificial Intelligence Professional Program offered by the School of Engineering at the <a href="https://online.stanford.edu/schools/stanford-school-engineering">University of Stanford</a>.</p>
                    <p style= "text-align: left">If you want to find out about my skills and education in more detail, have a look at this graphic me or refer to my more formal, <a href="CV_eng.pdf">traditional CV</a>.</p>
                    <a href="GraphicCV.pdf"><img src="img/GraphicCV_klein.jpg" class="img-responsive img-centered" alt="image-alt"></a>
                </div>
             </div>
        </div>
    </section>
