<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Want to know more about me?</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Annika Hamachers M.A.</h4>
                                    <h4 class="subheading">Research Assistant</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
                    <p style= "text-align: left">I love to engage in knowledge exchange and therefore already started teaching as an undergraduate as a tutor for German Philology at the University of Münster. From there on I luckily progressed throughout my academic life, being offered the opportunity to teach the great variety of different subjects - fot the full list of courses I taught and the workshops I offer, please refer to <a href="CV_eng.pdf">my CV</a>.</p>
                    <p style= "text-align: left">Moreover, I am always happy to take advanced trainings in higher education and didactics. I for instance obtained the <a href="Zertifikat_Hochschullehre.compressed.pdf">certificate ‘Hochschuldidaktik’</a> issued by the Federal District of North-Rhine Westphalia by completing a series of workshops on different teaching skills (such as degree program accreditation or developing online learning units) that had an overall workload of more than 160 hours.</p>
                    <p style= "text-align: left">If you are interested, I am always happy to share materials on my courses.</p>
            </div>
        </div>
    </section>
