<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-W38FZ950QB"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-W38FZ950QB');
    </script>
    <script>
        function vgwPixelCall1() {
        document.getElementById("div_vgwpixel").innerHTML="<img
        src='https://vg01.met.vgwort.de/na/6101153ce828439481699219800169a8'
        width='1' height='1' alt=''>";
        }
    </script>
    <script>
        function vgwPixelCall2() {
        document.getElementById("div_vgwpixel").innerHTML="<img
        src='https://vg01.met.vgwort.de/na/d02a0082a23347f9b9e8f495a508dd03'
        width='1' height='1' alt=''>";
        }
    </script>
    <script>
        function vgwPixelCall3() {
        document.getElementById("div_vgwpixel").innerHTML="<img
        src='https://vg01.met.vgwort.de/na/ea3a214054114d6eb73e92da38486227'
        width='1' height='1' alt=''>";
        }
    </script>
    <script>
        function vgwPixelCall4() {
        document.getElementById("div_vgwpixel").innerHTML="<img
        src='https://vg01.met.vgwort.de/na/b77fe246b45b41a383b99bb9145fee17'
        width='1' height='1' alt=''>";
        }
    </script>
    <script>
        function vgwPixelCall5() {
        document.getElementById("div_vgwpixel").innerHTML="<img
        src='https://vg01.met.vgwort.de/na/9bca3259b92542daa91d866501b83f92'
        width='1' height='1' alt=''>";
        }
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="Annika Hamachers, Hamachers, Data Science, Deutsche Hochschule der Polizei, German, Police, German Police University">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">



    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}">

    <!-- Custom Fonts -->
    <!--<link href='https://www.fontzip.com/storage/2016/10/24/bikinis-personal-use/webfonts/Bikinis Personal Use.css" rel='stylesheet' type='text/css'>-->
    <link href="//db.onlinewebfonts.com/c/4ecba4e76d765629e5540f81a3840d9d?family=Bikinis+Personal+Use" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{{ "/css/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/font-awesome/css/fontawesome.min.css" | prepend: site.baseurl }}">
    <script src="https://kit.fontawesome.com/3433cd9a5e.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
