<!-- Services Section -->
    <section id="research" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Research</h2>
                    <h3 class="section-subheading text-muted">Primary Research Interests</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-user-ninja fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Online Radicalization</h4>
                    <p class="text-muted">investigating collective extremist dynamics on the internet - particularly within social media</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop-code fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Natural Language Understanding</h4>
                    <p class="text-muted">applying machine learning to topic modelling and sentiment analyses of malignant rhetoric on the web</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-chart-area fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Data Visualization</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
			
			<div class="container">
			<div class="col-lg-12 text-center">
				<h3 class="section-subheading text-muted" style="margin-top:60px">Projects</h3>
			</div>
			<div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <a href="http://links-project.eu/"><img class="img-circle img-responsive" src="img/Links200.png" alt=""></a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2020-2023</h4>
                                    <h4 class="subheading">LINKS - H2020</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The overall aim of <a href="http://links-project.eu/">the LINKS project</a> is to strengthen links between technologies and society for improved European disaster resilience, by producing sustainable advanced learning on the use of social media and crowdsourcing (SMCS) in disasters.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <a href="https://www.x-sonar.org/en/"><img class="img-circle img-responsive" src="img/xsonar200.png" alt=""></a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017-2020</h4>
                                    <h4 class="subheading">X-SONAR</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"><a href="https://www.x-sonar.org/en/">This joint project</a> conducts applied and fundamental intedisciplinary research on the dynamics and escalation of extremist interactions in social online networks.</p>
                                </div>
                            </div>
                        </li>
		    </ul>
                </div>
            </div>
			</div>
			
        </div>
    </section>
