<!-- Teaching Section -->
    <section id="teaching">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Teaching</h2>
                    <h3 class="section-subheading text-muted">University Courses</h3>
                    <p style= "text-align: left">I love to engage in knowledge exchange and therefore already started teaching as an undergraduate as a tutor for German Philology at the University of Münster. From there on I luckily progressed throughout my academic life, being offered the opportunity to teach the great variety of different subjects - fot the full list of courses I taught and the workshops I offer, please refer to <a href="CV_eng.pdf">my CV</a>.</p>
                    <p style= "text-align: left">Moreover, I am always happy to take advanced trainings in higher education and didactics. I for instance obtained the <a href="Zertifikat_Hochschullehre.compressed.pdf">certificate ‘Hochschuldidaktik’</a> issued by the Federal District of North-Rhine Westphalia by completing a series of workshops on different teaching skills (such as degree program accreditation or developing online learning units) that had an overall workload of more than 160 hours.</p>
                    <p style= "text-align: left">If you are interested, I am always happy to share materials on my courses.</p>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-subheading text-muted">Offerd Workshops</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-chart-pie fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Data Visualization – from Excel to d3.js</h4>
                    <p class="text-muted">practical course, graduate/undergraduate level, Spring 2016, University of Münster</p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-brain fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Introduction to Artificial Intelligence & Ethics</h4>
                    <p class="text-muted">a hands-on introductory course on the principles of modern AI technologies that targets people without any background in computer science. It provides a basic understanding of what AI actually is, what its limitations are, and why artificial intelligence should never be thought of entirely independent from human intelligence.</p>
                </div>
            </div>
           
        </div>
    </section>
